<h1>HIS WORK</h1>

<div id="albumsDiv">
  <div class="albumImg"><img src="styles/images/kaleidoscope.jpg" alt="" /><span
    >Kaleidoscope dream (2012)</span></div>
  <div class="albumImg"><img src="styles/images/wildheart.jpeg" alt="" />
    <span>Wildheart (2015)</span>
  </div>
  <div class="albumImg"><img src="styles/images/Miguel2.jpg" alt="" />
    <span>War & Leisure (2017)</span>
  </div>
</div>